<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/relax_room_db</property>
    <!--<mapping class="RelaxRoom.model.UserEntity1"/>-->
    <mapping class="RelaxRoom.model.StatusEntity"/>
    <mapping class="RelaxRoom.model.StatementsQueueEntity"/>
    <mapping class="RelaxRoom.model.UsersEntity"/>
    <mapping class="RelaxRoom.model.RelaxRoomsEntity"/>
    <mapping class="RelaxRoom.model.MicrowavesEntity"/>
    <mapping class="RelaxRoom.model.QueueEntity"/>
  </session-factory>
</hibernate-configuration>