<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <header>
            <nav class="grey">
                <div class="nav-wrapper">
                    <a class="brand-logo center" th:href="@{/}">
                        <img id="cupcake" class="responsive-img" width="62" th:src="@{/images/cupcake.png}"/>
                    </a>
                    <ul id="nav-mobile" class="right">
                        <!--<li><a href="#">Личный кабинет</a></li>-->
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Выйти" class="btn-large btn-flat white-text" />
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>