<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Главная</title>
        <!--Import materialize.css-->
        <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../css/materialize.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>
    <body>
        <header th:replace="fragments/header :: header"></header>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    </body>
</html>

