<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Relax Room</title>

    <link rel="stylesheet" th:href="@{/css/room.css}" href="../../css/room.css" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <header th:include="fragments/header :: header"></header>

    <div class="section"/>
    <main >
        <div class="container">
            <div class='row'>
                <ul class="collection offset-m2 offset-xl3 col s12 m8 xl6 ">
                    <li class="collection-header center">
                        <h3 th:text="'Relax room ' + ${room_number}"/>
                    </li>

                    <form method="post" class="form_queue" action="#" th:action="@{/relax_room/{id}(id=${room_number})}">
                        <button type='submit' name="action" value="exit"  class='btn waves-effect grey'
                                th:unless="${current_user.isFree()}">Выйти из очереди</button>

                        <button type='submit' name="action" value="add"  class='btn waves-effect grey'
                                th:if="${current_user.isFree()}">Встать в очередь</button>

                        <button type='submit' name="action" value="clear"  class='btn waves-effect grey'>очистить</button>

                        <div class="input-field col s3 right" th:if="${current_user.isFree()}">
                            <select th:name="minutes">
                                <option value="1">1мин</option>
                                <option value="3">3мин</option>
                                <option value="5">5мин</option>
                            </select>
                        </div>
                        <br/><br/>
                    </form>

                    <div th:each="queueCol : ${queue}">
                        <li class="collection-item" th:object="${queueCol}">

                            <span th:if="${queueCol.getUser() == current_user}">
                                <span  class="red-text" th:text="*{getUser().getFio()}"/>
                            </span>
                            <span th:unless="${queueCol.getUser() == current_user}">
                                <span th:text="*{getUser().getFio()}"/>
                            </span>
                            <span th:if="*{getMicrowave()!=null}">
                            -  <span th:text="*{getMicrowave().getId()}"/>  Микроволновка
                            </span>
                            <span class="right">  мин.</span>
                            <span class="right" th:text="*{getStatementsQueue().getMinutesToEnd()}"/>

                        </li>
                        <li class="collection-item"/>
                    </div>

                    <li class="collection-item"><br/></li>
                    <li class="collection-item"><br/></li>
                </ul>
            </div>

        </div>
    </main>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}" src="../../js/materialize.js"></script>
</body>
</html>